body{
 /*  background-image: url("../img/background/bg-home.jpg"); */
  background-attachment: fixed;
}

#menu{
    width: 98%;
    position:fixed;
    margin-bottom: 20px;
}

#menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
#menu li {
  float: left;
}
#menu li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#menu li a:hover {
  background-color: #111;
}

#superior{
  background-color: rgba(152, 31, 168, 0.5);
  width: 98%;
  margin-top: 30px;
}

.alto{
  height: 800px;

}

#contact-box{
  background-image: url("../img/background/backgroung-form.jpg");
  position: center;
}
#contact-box ,input[type=text] {
  width: 200px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

.column {
  background-color: rgba(152, 31, 168, 0.5);
  float: left;
  width: 33.33%;
  padding: 15px;
  margin: 30px 30px 30px 30px;
}